.header{
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 100%;
  background-color: #252f3f;
}

.navbar{
  display: flex;
  flex-direction: row;  
  width: 100%;
  margin-left: 46%;
}

.item-nav{
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 20px;
  color: white;
  
  
}

.logo{
  width: 10rem;
  height: 3rem;
  padding: 10px;  
}